/cmake-build*
/.idea
.idea/
/build/
/tests/test.jpg
/scripts/configs/
/venv/
/scripts/data/
*.pyc
/cmake-build-debug/
/cmake-build-debug-remote-host/
/cmake-build-debug-remote-host-agx4/
/cmake-build-debug-remote-host-axg2/
/cmake-build-release/
/cmake-build-release-remote-host/
/cmake-build-release-remote-host-agx4/
/cmake-build-release-remote-host-axg2/
/cmake-build-debug_jetson_agx/
/cmake-build-debug_jetson_nx/
/cmake-build-release_jetson_agx/
/cmake-build-release_jetson_nx/
/cmake-build-release-remote-host-axg4/
/cmake-build-debug-remote-host-axg4/
/cmake-build-release-remote-host/
/cmake-build-debug/
/cmake-build-debug-remote-host/
/cmake-build-debug-remote-host-agx4/
/cmake-build-debug-remote-host-axg2/
/cmake-build-release/
/cmake-build-release-remote-host/
/cmake-build-release-remote-host-agx4/
/cmake-build-release-remote-host-axg2/
/cmake-build-release_jetson_agx/
/cmake-build-release_jetson_nx/
/cmake-build-debug_jetson_agx/
/cmake-build-debug_jetson_nx/
/cmake-build-debug-remote-host-axg4/
/cmake-build-release-remote-host-axg4/
.metadata/
RemoteSystemsTempFiles/

